[Desktop Entry]
Name=C/C++ - Eclipse 
Type=Application
Exec=eclipse-cpp
Terminal=false
Icon=eclipse-cpp.xpm
Comment=C/C++ Integrated Development Environment
NoDisplay=false
Categories=Development;IDE;C;C++;
Name[en]=Eclipse C/C++