[Desktop Entry]
Name=Java - Eclipse 
Type=Application
Exec=eclipse-java
Terminal=false
Icon=eclipse-java.xpm
Comment=Java Integrated Development Environment
NoDisplay=false
Categories=Development;IDE;Java;
Name[en]=Eclipse Java